astroid==2.11.3
attrs==21.4.0
dill==0.3.4
ffmpeg-python==0.2.0
future==0.18.2
imageio-ffmpeg==0.4.7
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.22.3
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycord==0.1.1
pylint==2.13.7
pyparsing==3.0.9
pytest==7.1.2
tomli==2.0.1
wrapt==1.14.0
